<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>wordsen</key>
	<array>
		<string>family,home</string>
		<string>Spider-Man,Batman</string>
		<string>Iron Man,Superman</string>
		<string>table,desk</string>
		<string>vacation,holiday</string>
		<string>milk,yogurt</string>
		<string>Pepsi-Cola,Coco-Cola</string>
		<string>Mcdonalds,KFC</string>
		<string>adidas,nike</string>
		<string>Sign,mark</string>
		<string>worry,scare</string>
		<string>Apple,Google</string>
		<string>facebook,twitter</string>
		<string>iphone,ipad</string>
		<string>meal,dinner</string>
		<string>007,Get Smart</string>
		<string>Messi,Cristiano</string>
		<string>Lady Gaga,Britney Spears</string>
		<string>American Idol,X Factor</string>
		<string>Once bitten,twice shy,Jump once but look twice</string>
		<string>river,lake</string>
		<string>garden,park</string>
		<string>like,love</string>
		<string>large,big</string>
		<string>little,small</string>
		<string>glad,happy</string>
		<string>village,country</string>
		<string>famous,popular</string>
		<string>elegant,gentle</string>
		<string>lovely,sweety</string>
		<string>Vampire,Zombie</string>
		<string>Lord of the Rings,The Hobbit</string>
		<string>Harry Porter,Ron</string>
		<string>Voldemort,Magneto</string>
		<string>Mickey Mouse and Donald Duck,Tom and jerry</string>
		<string>baseball,football</string>
		<string>badminton,tennis</string>
		<string>Transformers,Robot</string>
		<string>Zorro,He-Man</string>
		<string>Angry Birds,Plants VS Zombies</string>
		<string>Tom Cruise,Leonardo</string>
		<string>procure,ensure</string>
		<string>water,ice</string>
		<string>release,discharge</string>
		<string>null,void</string>
		<string>picture,photo</string>
		<string>hate,dislike</string>
		<string>Snow White,Cinderella</string>
		<string>Mr.Right,Prince Charming</string>
		<string>Safety,security</string>
	</array>
	<key>words</key>
	<array>
		<string>老佛爷,老天爷</string>

<string>魔术师,魔法师</string>

<string>鸭舌帽,遮阳帽</string>

<string>双胞胎,龙凤胎</string>

<string>情人节,光棍节</string>

<string>丑小鸭,灰姑娘</string>

<string>富二代,高富帅</string>

<string>生活费,零花钱</string>

<string>麦克风,扩音器</string>

<string>郭德纲,周立波</string>

<string>图书馆,图书店</string>

<string>男朋友,前男友</string>

<string>洗衣粉,皂角粉</string>

<string>牛肉干,猪肉脯</string>

<string>泡泡糖,棒棒糖</string>

<string>小沈阳,宋小宝</string>

<string>土豆粉,酸辣粉</string>

<string>蜘蛛侠,蝙蝠侠</string>

<string>口香糖,木糖醇</string>

<string>酸菜鱼,水煮鱼</string>

<string>小笼包,灌汤包</string>

<string>薰衣草,满天星</string>

<string>张韶涵,王心凌</string>

<string>刘诗诗,刘亦菲</string>

<string>甄嬛传,红楼梦</string>

<string>甄子丹,李连杰</string>

<string>包青天,狄仁杰</string>

<string>大白兔,金丝猴</string>

<string>果粒橙,鲜橙多</string>

<string>沐浴露,沐浴盐</string>

<string>洗发露,护发素</string>

<string>自行车,电动车</string>

<string>班主任,辅导员</string>

<string>过山车,碰碰车</string>

<string>铁观音,碧螺春</string>
	</array>
</dict>
</plist>
